<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie książki</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="http://localhost:8080/dodaj">
    <table>
            <td>Podaj autor</td>
            <td><input name="autor"></td>
        </tr>
        <tr>
            <td>Podaj rok wydania</td>
            <td><input name="rok_wydania"></td>
        </tr>
        <tr>
            <td>Podaj tytuł</td>
            <td><input name="tytul"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"></td>
    </table>
</form>
</body>
</html>

